.venv/
venv/
__pycache__/
*.py[cod]
*.log
db.sqlite3
staticfiles/
media/
!media/
media/*
!media/protected/
media/protected/*
!media/protected/materials/
media/protected/materials/*
!media/protected/materials/class-10-thermodynamics.pdf
.env
.env.*
.azure/
.elasticbeanstalk/
.vs/
.vscode/
azure-logs/
azure-logs.zip
